html{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Habdlee', cursive;
  font-size: 17pt;
  background-color: #efefef;
  padding: 10px;
  margin: 0;
}
h1 {
  font-size: 15pt;
  text-align: center;
  color: #20bcd5;
  padding: 18px 0 18px 0;
  margin: 0px;
}
h1 span {
  border: 4px dashed #6fbe65;
  padding: 5px;
}
p {
  padding: 10px;
  margin: 0px;
}
.img-circle {
  border: 3px solid white;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
#header {
  background-image: url(header.jpg);
  background-size: cover;
}
#header imp {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
#header p {
  font-size: 25pt;
  color: #3b464c;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}
.quote {
  font-size: 10pt;
  text-align: right;
  margin-top: 10px;
}
table {
  width: 100%;
}
table, th, td {
  border: 2px solid #cecece;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}
li {
  margin-bottom: 15px;
  font-weight: bold;
}
progress {
  width: 100%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}
progress: :-wedkit-progress-bar {
  background: #efefef;
}
progress: :-wedkit-progres-value {
  background: #3fb6b2;
}
progress: :-moz-progress-bar {
  background: #efefef;
  color: #3fb6b2;
}
iframe, audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}
hr {
  border: 0 ;
  height: 1px;
  background: #f36f48;
}
form {
  text-align: center; /*поставил весь тект и внутрение штуки по центру*/
  margin-top: 0;
}
.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 10px;
  cursor: pointer;
  color: #efefef;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}
.submit: hover {
  background-color: #43a09d;
}
textarea {
  height: 100px;
}
input, textarea {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787555;
  border-radius: 20px;
  width: 70%;
  outline: none;
}
#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}
#contact a {
  text-decoration: none;
}
#contact img:hover {
  opacity: 0.8;
}
#contact {
  text-align: center;
}
.section {
  background-color: #fffeee;
  padding: 10px;
  margin-bottom: 10px; /*создание ячеек*/
  border-radius: 10px;
}
.selected {
background-color: #f36f48;
font-weight: bold;
color: white;
}
.copyright {
  font-size: 9pt;
  text-align: right;
  padding-bottom: 10px;
  color: gray;
}
